In [73]:
import pandas as pd
import numpy as np
import statistics
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
# Problem 1. Start by creating the data frame.
brady_bunch = pd.DataFrame()

In [40]:
# populate data frame with names and ages of Brady kids
brady_bunch['Name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
brady_bunch['Age'] = [14, 12, 11, 10, 8, 6, 8]

In [41]:
# mean
np.mean(brady_bunch['Age'])

9.857142857142858

In [42]:
# median
np.median(brady_bunch['Age'])

10.0

In [43]:
# mode
statistics.mode(brady_bunch['Age'])

8

In [44]:
# variance
brady_bunch['Age'].var()

7.476190476190475

In [45]:
# standard deviation
np.std(brady_bunch['Age'])

2.531435020952764

In [46]:
# standard error
np.std(brady_bunch['Age'])/np.sqrt(len(brady_bunch['Age']))

0.9567925036515135

In [47]:
# Problem 2. There are no extreme outliers in this data set, so the mean provides a great
# idea of the ages of the kids. The relatively low standard deviation shows that the ages
# of the kids don't vary widely.

In [51]:
# Problem 3. Cindy is one year older. Let's see how that changes the central tendencies
# and variances
brady_bunch['New Age'] = [14, 12, 11, 10, 8, 7, 8]

In [52]:
# new mean (slightly higher)
np.mean(brady_bunch['New Age'])

10.0

In [54]:
# new median (unchanged)
np.median(brady_bunch['Age'])

10.0

In [55]:
# new mode (unchanged)
statistics.mode(brady_bunch['New Age'])

8

In [56]:
# new variance (lower)
brady_bunch['New Age'].var()

6.333333333333333

In [57]:
# new standard deviation (lower)
np.std(brady_bunch['New Age'])

2.32992949004287

In [58]:
# standard error  (lower)
np.std(brady_bunch['New Age'])/np.sqrt(len(brady_bunch['New Age']))

0.8806305718527109

In [59]:
# Problem 4. Goodbye Oliver. Hello Jessica
brady_kids = pd.DataFrame()

In [60]:
brady_kids['Name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Jessica']
brady_kids['Age'] = [14, 12, 11, 10, 8, 7, 1]

In [61]:
# mean
np.mean(brady_kids['Age'])

9.0

In [62]:
# median
np.median(brady_kids['Age'])

10.0

In [64]:
# There is no mode. All values are equally common.

In [65]:
# variance
brady_kids['Age'].var()

18.0

In [66]:
# standard deviation
np.std(brady_kids['Age'])

3.927922024247863

In [67]:
# standard error
np.std(brady_kids['Age'])/np.sqrt(len(brady_kids['Age']))

1.4846149779161806

In [68]:
# Jessica has introduced an outlier to our data set. In this case I'd favor the 
# median over the mean. Her introduction caused our measures of variance to spike
# due to her age being an outlier.

In [69]:
# Problem 5. 
magazines = pd.DataFrame()
magazines['Name'] = ['TV Guide', 'Entertainment Weekly', 'Pop Culture Today', 'SciPhi Phanatic']
magazines['Percentage as Fans'] = [20, 23, 17, 5]

In [70]:
magazines.describe()

       Percentage as Fans
count            4.000000
mean            16.250000
std              7.889867
min              5.000000
25%             14.000000
50%             18.500000
75%             20.750000
max             23.000000

In [77]:
# SciPhi Phanatic is an extreme outlier, likely due to its niche readership.
# Disregarding that data point, the mean is 20% and is likely roughly the percentage
# of adult Americans that are fans of the show